<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="th.co.cdgs.flutter_mqtt_plugin">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <receiver
            android:name=".receiver.BootBroadcastReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.TaskRemoveReceiver"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.DetectTaskRemoveService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
